    <footer class="footer">
        <div class = "footer-content">
          <ul class="list-unstyled">
            <p class="col-md-12 h5" style="text-align:center;">Quick Links</p>
            {{ $array := $.Site.Params.FooterMenu }}
            {{ range $key, $value :=$array }}
            <li class="col-md-12" style="text-align:center;"><a href="/{{ $key }}" style="color:#FFFFFF">{{ $value }}</a></li>
            {{ end }}
          </ul>

          <br/>
          <form class="col-md-12 h5" style="text-align:center;" action="http://feedburner.google.com/fb/a/mailverify" method="post" id="form-subscribe" target="popupwindow" onsubmit="window.open('http://feedburner.google.com/fb/a/mailverify?uri=GloucesterCitySwimmingClub', 'popupwindow', 'scrollbars=yes,width=550,height=520');return true">
          <div>
            <label for="form-email">Subscribe to our updates:</label>
            <input type="text" name="email" id="form-email" onblur="if (this.value == '') {this.value = 'Enter your email';}" onfocus="if (this.value == 'Enter your email') {this.value = '';}" value="Enter your email">
            <input type="hidden" value="GloucesterCitySwimmingClub" name="uri">
            <input type="hidden" name="loc" value="en_US">
            <input type="submit" class="btn btn-white" id="form-submit" value="Subscribe">
          </div>
        </form>
        <!-- p class="col-md-12 h5" style="text-align:center;">Subscribe to our News Letter</p>-->
        </div>
        <div class="footer-content row footer-basement">
          <p class="col-md-12 h6">{{ $.Site.Params.FooterCopyright }}</p>
        </div>
    </footer>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</html>
