
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ $.Site.Title }}</title>
    <meta name="description" content="{{ $.Site.Params.Description }}">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/bootstrap.css">
    <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/custom.css">
    <script src="https://awesome-table.com/AwesomeTableInclude.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
