
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="row">
      <a href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">
        <img class="Logo pl-1 mr-3 ml-2" src="{{ .Site.BaseURL }}/images/gcsc-logo-2.png">
      </a>
    </div>
  
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mr-auto">
        {{ $map := $.Site.Params.Menu }}
        {{ range $key, $value := $map }}
          {{ if isset $value "links" }}
          <li class="nav-item dropdown active">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ $value.display }}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {{ $linksCount := len $value.links }}
            {{ $.Scratch.Set "i" 0}}
            {{ range $k, $v := $value.links }}
            {{ $.Scratch.Add "i" 1 }}
            <a class="dropdown-item" href="{{ $.Site.BaseURL }}/{{ $k }}">{{ $v }}</a>
              {{ if ne ( $.Scratch.Get "i") $linksCount }} <div class="dropdown-divider"></div>{{ end }}
            {{ end }}
            </div>
          </li>
          {{ else }}
        <li class="nav-item active">
          <a class="nav-link" href="{{ .Site.BaseURL }}{{ $value.link }}">{{ $value.display }}<span class="sr-only">(current)</span></a>
        </li>
          {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>
