<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="row">
  <img class="Logo pl-1" src="images/gcsc-logo-2.png">
  <div class="titleText">
      <a class="navbar-brand mt-1 ml-1 mr-0" href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">Gloucestershire City</a>
      <a class="navbar-brand title2" href="{{ if $.Site.Params.Logo.LogoHomeLink }}{{ $.Site.Params.Logo.LogoHomeLink }}{{else}}{{ $.Site.BaseURL }}{{ end }}">Swimming Club</a>
  </div>
</div>
