{{ define "main" }}
    <div class="card mt-2 mb-2 ml-2 mr-2">
      <div class="card-body">
        <div class="container-fluid">
          <div class="pageContent container-fluid mt-0 p">
            <h1 class="heading">{{ .Title }}</h1>
            {{ if isset .Params "todo" }}
            <h3 style="color:#FF0000">Work still to do: {{ .Params.Todo }}</h3>
            {{ end }}
              {{ .Content }}
          </div>
        </div>
      </div>
    </div>

  {{ range .Pages }}

    <div class="card mt-2 mb-2 ml-2 mr-2">
      <div class="card-body">
        <div class="container-fluid">
          <div class="pageContent container-fluid mt-0 p">
            <h3 class="heading">{{ .Title }}</h3>
              {{ if .Params.start_date }}
              <p><i>{{ .Params.event_type }} - From {{ .Params.start_date | dateFormat "Mon Jan 2 2006" }} to {{ .ExpiryDate | dateFormat "Mon Jan 2 2006" }}</i></p>
              {{ end }}
              {{ .Content }}
              {{ if .Params.showFullContent }}
              {{ .Content | markdownify }}
              {{ else if .Description }}
              {{ .Description | markdownify }}
              {{ else }}
              {{ if .Truncated }}
              {{ .Summary | markdownify }}
              {{ end }}
              {{ end }}
          </div>
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-success" href="{{.RelPermalink}}">Read More</a>
      </div>
    </div>

  {{ end }}  


{{ end }}
