{{ partial "head.html" . }}

{{ partial "header.html" . }}
    <div class="card mt-2 mb-2 ml-2 mr-2">
      <div class="card-body">
        <div class="container-fluid">
          <div class="pageContent container-fluid mt-0 p">
				  	<h1 class="heading">{{ .Title }}</h1>
            {{ if isset .Params "todo" }}
            <h3 style="color:#FF0000">Work still to do: {{ .Params.Todo }}</h3>
            {{ end }}
            {{ if .Params.start_date }}
            <p><i>From {{ .Params.start_date | dateFormat "Mon Jan 2 2006" }} - To {{ .ExpiryDate | dateFormat "Mon Jan 2 2006" }}</i></p>
            {{ end }}
						  {{ .Content }}
					</div>
				</div>
			</div>
		</div>

{{ partial "footer.html" . }}
