{{ $_hugo_config := `{ "version": 1 }` }}
{{ if len .Params | eq 3 }}
<iframe src="{{ .Get 0 }}" style="border-width:0" width="{{ .Get 1 }}" height="{{ .Get 2 }}" frameborder="0" scrolling="yes"></iframe>
{{ else }}
<iframe src="{{ .Get 0 }}" style="border-width:0" width="100%" height="auto" frameborder="0" scrolling="yes"></iframe>
{{ end }}
<br>
