<h3>Send us a Message</h3>

<form name="contact" action="/thank-you/" method="POST" data-netlify="true" data-netlify-recaptcha="true">
<input type="hidden" name="form-name" value="contact" />
  <div class="form-group">
    <label for="fullname">Full Name</label>
    <input type="text" class="form-control" id="fullname" name="Name">
  </div>
  <div class="form-group">
    <label for="phone">Phone Number</label>
    <input type="text" class="form-control" id="phone" name="Phone">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="Email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="message">Message</label>
    <textarea class="form-control" id="message" rows="10" name="Message"></textarea>
  </div>
  <div data-netlify-recaptcha="true"></div>
  <div class="form-group">
    <button type="submit" class="btn btn-success float-right" id="form-submit">Send Message</button>
  </div>
</form>
<br>
<p></p>
