{{ $_hugo_config := `{ "version": 1 }` }}
        <div class="card mt-2 mb-2 ml-2 mr-2">
            <div class="card-body">
            <div class="container-fluid">
                <div class="pageContent container-fluid mt-0 p">
                    <h1 class="heading">{{ .Get 0 }}</h1>
                    <br/>
                      {{ .Inner | markdownify }}
                </div>
            </div>
        </div>
            <div class="card-footer">
            <a href="{{ .Get 1 }}" class="btn btn-success float-left">{{ .Get 2 }}</a>    
            </div>
        </div>

