{{ $_hugo_config := `{ "version": 1 }` }}
      <div class="card">
        <!--<img class="card-img-top" src="" alt="Card image cap">-->
            <div class="card-body">
              <h5 class="card-title heading">{{ .Get 0 }}</h5>
              <p class="card-text">{{ .Inner }}
            </div>
        <div class="card-footer">
            <div>
            <a href={{ .Get 1 }} class="btn btn-success float-left">{{ .Get 2 }}</a>
            </div>
            </div>
        </div>
