{{ $_hugo_config := `{ "version": 1 }` }}
<!-- end card divs -->
</div>
</div>
</div>
</div>
<div class="card mt-2 mb-2 ml-2 mr-2">
  <div class="card-body">
    <div class="container-fluid">
      <div class="pageContent container-fluid mt-0 p">
        <h1 class="heading">Hear from our swimmers!</h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
          {{ range $index, $swimmer := $.Site.Params.swimmers }}
            <li data-target="#carouselExampleIndicators" data-slide-to="{{ $index }}"{{ if eq $index 0 }} class="active"{{ end }}></li>
          {{ end }}
          </ol>
          <div class="carousel-inner">
            {{ range $index, $swimmer := $.Site.Params.swimmers }}
            <div class="carousel-item{{ if eq $index 0 }} active{{ end }}">
              <!--Slide Content-->
              <div class="card-body">
                <div class="container-fluid">
                  <div class="pageContent container-fluid mt-0 p">
                    <p class="lead"><em>"{{ $swimmer.quote | markdownify }}"</em>
                    </p>
                  </div>
                </div>
              </div>

              <div class="card-footer">
                <img src="{{ $.Site.BaseURL }}/{{ $swimmer.image }}" class="img-thumbnail float-left" style="width: 100px;">
                <p><br/><br/>&nbsp;&nbsp;&nbsp;  - {{ $swimmer.name }}</p>
              </div>
              <!--Slide Content End-->
            </div>
            {{ end }}
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
