{{ $upcoming := where $.Site.RegularPages "Section" "upcoming_events" }}
{{ $upcoming_sorted := sort $upcoming "Params.start_date" "asc" }}
{{ $.Scratch.Set "counter" 1 }}
<div class="row">
{{ range $upcoming_sorted }}
  {{ $counter := $.Scratch.Get "counter" }}
  <div class="col-sm-4">
    <div class="card bg-dark text-white">
      <img class="card-img" src="/images/upcoming.jpg" alt="img">
      <div class="card-img-overlay">
        <p class="card-title" style="font-size:0.75em">{{ .Params.event_type }}</p>
        <h5 class="card-title" style="text-align:center">{{ .Page.Title }}</h5>
        {{ if isset .Params "start_date" }}
        <p class="card-title" style="font-size:0.75em"><i>From {{ .Params.start_date | dateFormat "Mon Jan 2 2006" }} - To {{ .ExpiryDate | dateFormat "Mon Jan 2 2006" }}</i></p>
        {{ end }}
        {{ if gt (len .Summary) 150 }}
        <p class="card-text" style="font-size:0.85em">{{ slicestr .Summary 3 100 | markdownify }}</p>
        {{ else }}
        <p class="card-text" style="font-size:0.85em">{{ .Summary | markdownify }}</p>
        {{ end }} 
        <a class="btn btn-success" href="{{.RelPermalink}}">Read More</a>
      </div>
    </div>
  </div>
  {{ $.Scratch.Add "counter" 1 }}
  {{ if eq $counter 3 }}
  {{ $.Scratch.Set "counter" 1 }}
  {{ end }}
{{ end }}
</div>
